<h1>Editing User</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= render partial: 'shared/form' %>

<%= link_to "<< Back", '/' %>
| 
<%= link_to "Show Details", user_path %>
